<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículo</title>
</head>

<body>
    <h1>Currículo</h1>

    <h2>Informações Pessoais</h2>
    <ul>
        <li><strong>Nome:</strong> Artur Moreira Franco</li>
        <li><strong>Email:</strong> 12402117@aluno.cotemig.com.br</li>
        <li><strong>Telefone:</strong> (31) 99999-9999</li>
        <li><strong>Endereço:</strong> Alameda Manacá da Serra - 1490</li>
    </ul>

    <h2>Experiência Profissional</h2>
    <ul>
        <li><strong>Empresa:</strong> Global Max Tractor</li>
        <li><strong>Cargo:</strong> Ajudante geral</li>
        <li><strong>Período:</strong> Jan 2025 - Jan 2026</li>
    </ul>
</body>

</html>